.navbar{
   background: #d13932;
}
.col-sm-4{
   margin-top:111px;

}
.col-sm-8{
   margin-top:100px;
}
.smo{
   color:red;
}
.btn.btn-sm{
   background: #d13932;
}
.btn.btn-md{
   background: #d13932;;
}
.btn-group-vertical.btn-sm{
   background: #d13932;

}